security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    films_loading:
      pattern: ^/films
      security: false

    login:
      pattern: ^/api/login_check$
      stateless: true
      provider: app_user_provider
      json_login:
        check_path: /api/login_check
        username_path: email
        password_path: password
        success_handler: lexik_jwt_authentication.handler.authentication_success
        failure_handler: lexik_jwt_authentication.handler.authentication_failure
      login_throttling:
        max_attempts: 10
        interval: '15 minutes'

    api:
      pattern: ^/api
      stateless: true
      provider: app_user_provider
      jwt: ~

    main:
      pattern: ^/(?!api)
      lazy: true
      provider: app_user_provider
      custom_authenticators:
        - App\Security\UserAuthenticator
      form_login:
        login_path: app_login
        check_path: app_login
        default_target_path: app_accueil
        target_path_parameter: redirect_to
        enable_csrf: true
      logout:
        path: app_logout
        target: app_accueil
      entry_point: form_login
      login_throttling:
        max_attempts: 5
        interval: '15 minutes'

  access_control:
    - { path: ^/api/register$, roles: PUBLIC_ACCESS }
    - { path: ^/api/verify/email$, roles: PUBLIC_ACCESS }
    - { path: ^/api/login_check$, roles: PUBLIC_ACCESS }
    - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }
    - { path: ^/administrateur, roles: ROLE_ADMIN }
    - { path: ^/employe, roles: ROLE_EMPLOYE }
    - { path: ^/utilisateur, roles: [ROLE_USER, ROLE_ADMIN, ROLE_EMPLOYE] }

when@test:
  security:
    password_hashers:
      Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
        algorithm: auto
        cost: 4
        time_cost: 3
        memory_cost: 10
