<h1>Hello! Vérification de routine</h1>

<p>
    Merci de confirmer votre adresse email: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer</a>.
    Ce lien expire dans 1 heure.
</p>

<p>
    Merci!
</p>
