<h1>Bonjour</h1>

<p>Votre mot de passe temporaire est : {{ temporaryPassword }}</p>

<p>Suivez ce lien pour réinitialiser votre mot de passe:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans 1 heure.</p>

<p>Merci.</p>
